# =====================================
# Python
# =====================================
__pycache__/
*.py[cod]
*$py.class

# =====================================
# Virtual Environment
# =====================================
venv/
env/
ENV/

# =====================================
# Environment Variables
# =====================================
.env

# =====================================
# Django
# =====================================
db.sqlite3
media/
staticfiles/

# =====================================
# VS Code
# =====================================
.vscode/

# =====================================
# PyCharm
# =====================================
.idea/

# =====================================
# Logs
# =====================================
*.log

# =====================================
# OS Files
# =====================================
.DS_Store
Thumbs.db

# =====================================
# Python Packaging
# =====================================
*.egg-info/
dist/
build/

# =====================================
# Coverage
# =====================================
.coverage
htmlcov/
.pytest_cache/

# =====================================
# Mypy
# =====================================
.mypy_cache/

# =====================================
# Ruff
# =====================================
.ruff_cache/